h1 {
  color: white;
  font-size: 80px;
}
body {
  background-color: #2b2d42;
}
img {
  width: 50%;
  border: dashed 5px #118ab2;
}
img:hover {
  border: dashed 5px white;
}
ul{
  list-stlye-type: none;
  background-color: #111;
  width: 200%;
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
}
li{
  float: ;
}
li a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
}
li a:hover{
  display: block;
  font-size: 150%;
  color: #0077b6;
  text-decoration: none;
  padding: 20px 50px;
}
